.account {
    width: 58%;
    display: flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    font-size: 12px;
  }
  
  .account > span:last-child {
    cursor: pointer;
  }

  .log {
    width: 58%;
    display: flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    font-size: 12px;
  }