.player {
    width: 600px;
    height: 400px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    animation: miniplayerAnim 0.3s ease forwards;
    margin: 0 ;
  }

.attemptquiz {
    margin-top: 2rem;
}

.flex {
    display: flex;
    flex-wrap: 1;
}

@media (max-width: 550px) {
    .player{
        width: 100px;
        height: 200px;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
}