/* App.css */

.body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(#F3C76B, #F3746C);
    color: #333;
}

.input {
    margin-right: 10px;
    padding: .5rem;
    margin-bottom: 10px;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    /* Adjust opacity as needed */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    /* Adjust as needed */
    width: 90%;
    /* Adjust as needed */
}

.box {
    background-color: #f9fafb;
    border: 2px solid #e4e7eb;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.body > h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.body > p {
    font-size: 18px;
    margin: 10px 0;
}

.para {
    margin: 10px 0;
    font-weight: 700;
    font-size: x-large;
}

.options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.option {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f39c12;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.option:hover {
    background-color: #d35400;
}

.button {
    margin-top: 40px;
    padding: 5px 30px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: bold;
    font-size: 21px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.button:hover {
    background-color: #2980b9;
}

.score {
    margin-top: 40px;
    font-weight: bold;
    font-size: 28px;
    color: #27ae60;
}

.timer {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}

.result {
    margin-top: 20px;
    font-size: 24px;
    color: red;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}
